$dark-theme-color: #000000;
$light-theme-color: #fff;
$box : border-box;
$pointer : pointer;
$white : #fff;
$black : #000;
$vt-c-text-light-1: var(--vt-c-indigo);
$vt-c-text-light-2: rgba(60, 60, 60, .7);
$mini-screen-max-width: 1376px;
$baseFz : 15px;
$textcolor : #3c3c3cb3;
$theme-linear-gradient: linear-gradient(315deg,#42d392  25%, #647eff)